# Semantic Search
embeddingsspace:
  openAIKey: hello
  pineconeKey: hello
  pineconeUrl: hello
  pineconeNamespace: workshop

# Swagger
springdoc:
  swagger-ui:
    path: /docs

# SpringBoot
spring:
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  mvc:
    async:
      request-timeout: -1
server:
  error:
    include-exception: true
    include-stacktrace: always
    include-message: always
